﻿<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" rel="stylesheet" />

    <style>
        body {
            padding-top: 50px;
        }

        .tab-text {
            color: white;
        }

        .key {
            color: white;
            background-color: #0f6ab4;
            padding: 5px;
            border-radius: 5px;
        }

        .key-example {
            background-color: #e7f0f7;
            border: 1px solid #c3d9ec;
            border-radius: 5px;
            padding: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .value {
            color: white;
            background-color: #10a54a;
            padding: 5px;
            border-radius: 5px;
        }

        .value-example {
            background-color: #e7f6ec;
            border: 1px solid #c3e8d1;
            border-radius: 5px;
            padding: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    </style>

    <meta charset="utf-8" />
    <title>Cal-PASS Plus API Authentication</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="margin-top:7px;">
            <ul class="nav nav-tabs" style="border:none !important;">
                <li id="accessTokenTab">
                    <a href="/docs">API Documentation</a>
                </li>
                <li id="accessTokenTab" class="active">
                    <a class="tab-text" href="#1" data-toggle="tab">Access Token</a>
                </li>
                <li id="makingRequestsTab">
                    <a class="tab-text" href="#2" data-toggle="tab">Making Requests</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="exTab2" class="container">
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <h1>Getting An Access Token Using User Credentials</h1>
                <br />
                <br />

                <p class="lead"><b>Request Endpoint:</b> <i>https://oauth.calpassplus.org/connect/token</i></p>

                <br />

                <div class="row">
                    <div class="col-md-7">
                        <p style="font-size:21px;"><b>Header</b></p>
                        <hr style="margin-top:0px;" />
                        <div class="row" style="margin-bottom:10px; margin-left:15px;">
                            <div class="col-md-4 key-example">
                                <span class="key">Key</span> Content-Type
                            </div>
                            <div class="col-md-8 value-example">
                                <span class="value">Value</span> application/x-www-form-urlencoded
                            </div>
                        </div>

                        <br />
                        <p style="font-size:21px;"><b>Body</b></p>
                        <hr style="margin-top:0px;" />

                        <div class="row" style="margin-bottom:10px; margin-left:15px;">
                            <div class="col-md-4 key-example">
                                <span class="key">Key</span> grant_type
                            </div>
                            <div class="col-md-8 value-example">
                                <span class="value">Value</span> password
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px; margin-left:15px;">
                            <div class="col-md-4 key-example">
                                <span class="key">Key</span> username
                            </div>
                            <div class="col-md-8 value-example">
                                <span class="value">Value</span> {username}
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px; margin-left:15px;">
                            <div class="col-md-4 key-example">
                                <span class="key">Key</span> password
                            </div>
                            <div class="col-md-8 value-example">
                                <span class="value">Value</span> {password}
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px; margin-left:15px;">
                            <div class="col-md-4 key-example">
                                <span class="key">Key</span> scope
                            </div>
                            <div class="col-md-8 value-example">
                                <span class="value">Value</span> {scope}
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px; margin-left:15px;">
                            <div class="col-md-4 key-example">
                                <span class="key">Key</span> client_id
                            </div>
                            <div class="col-md-8 value-example">
                                <span class="value">Value</span> {client_id}
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px; margin-left:15px;">
                            <div class="col-md-4 key-example">
                                <span class="key">Key</span> client_secret
                            </div>
                            <div class="col-md-8 value-example">
                                <span class="value">Value</span> {client_secret}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <p style="font-size:21px;"><b>Example Response: </b></p>
                        <hr style="margin-top:0px;" />
                        Below is an example of the response that the request above will return
                        <br />
                        <br />
                        <div style="overflow-y:auto; white-space:nowrap">
                            <i>
                                {<br />                                
                                &nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"access_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjhhOGQ5OWI2N2MzODY4NmQ2MTI4MzVhYTFhYjkxNTU3IiwidHlwIjoiSldUIn0.eyJuYmYiOjE1MDM3OTg5MTQsImV4cCI6MTUwMzgwMjUxNCwiaXNzIjoiaHR0cHM6Ly9sb2NhbGhvc3Q6NDQzMTQiLCJhdWQiOlsiaHR0cHM6Ly9sb2NhbGhvc3Q6NDQzMTQvcmVzb3VyY2VzIiwiYXBpIl0sImNsaWVudF9pZCI6InJlbW90ZSIsInN1YiI6IjYzM2FhODM2LTg5OTItNGZkNy1iYmJjLWY0MTE2MDZkN2Y5MyIsImF1dGhfdGltZSI6MTUwMzc5ODkxMywiaWRwIjoibG9jYWwiLCJzY29wZSI6WyJhcGkiXSwiYW1yIjpbInB3ZCJdfQ.URYkg9R3Hh_UWHXPMysTahqWNrHKMWC-PWQJiwImQwceLlWa1g1D6shtudKrODsRdI9Cj_qJR1mMnno0FPfKLj3s5tvQl_BTC-C0vkHpGTHqK8OCPY3B42l62VeEdxmMRNFUblONXr19E5SwuUjPJeM74iFpt_9fXxVHnhiQrqY73zRaj7mNXwCcQs_lcOxtMwWYLy7hw0HvvojF0gadHXZDATTEShXMJ1g2sc4l7JptEs5CwqWLRH1HcufFjBVJVv_lvjUzQmXtzOkNqPnma9ENKX1PImX7pG-uwGTipzEMeDAaKsEhHQ8IFpRpG7KxRKZS12Jah4nzSnJBUjK9oQ",<br/>
                                &nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"expires_in": 3600,<br/>
                                &nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"token_type": "Bearer"<br/>
                                }<br />
                            </i>
                        </div>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="2">
                <h1>Making A Request Using Your Access Token</h1>
                <br />
                If you have already obtained an Access Token, you can now make requests to the Cal-PASS Plus AB705 API to GET data.
                <br />
                <br />
                <p class="lead"><b>Example Endpoint:</b> <i>https://ab705.calpassplus.org/api/Placement/</i></p>
                <br />

                <div class="row">
                    <div class="col-md-7">
                        <p style="font-size:21px;"><b>Header</b></p>
                        <hr style="margin-top:0px;" />
                        <div class="row" style="margin-bottom:10px; margin-left:15px;">
                            <div class="col-md-4 key-example">
                                <span class="key">Key</span> Authorization
                            </div>
                            <div class="col-md-8 value-example">
                                <span class="value">Value</span> Bearer (Access Token)
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px; margin-left:15px;">
                            <div class="col-md-4 key-example">
                                <span class="key">Key</span> Content-Type
                            </div>
                            <div class="col-md-8 value-example">
                                <span class="value">Value</span> application/json
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function changeActiveTab(tabId)
        {
            $('#accessTokenTab').removeClass("active");
            $('#makingRequestsTab').removeClass("active");
            $(tabId).addClass("active");
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>